@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #37474f;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container{
    height: 70vh;
    background-color: #232931;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    
}

.left-info{
    width: 260px;
    height: 100%;
    float: left;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    background: url(./assets/images/1.jpg);
    background-position: center;
    background-size: cover;
    transform: scale(1.03) perspective(200px);
    cursor: pointer;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    
}

.left-info:hover{
    transform: scale(1.1) perspective(2500px) rotateY(5deg);
}

.img-gradiente{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #5c6bc0 10%, #0d47a1 100%);
    border-radius: 25px;
    opacity: 0.5;

}

.hoje-info{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 25px;

}

.hoje-clima{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom: 20px;
    left: 20px;

}

.hoje-clima .bx{
    font-size: 4.6rem;
}

.clima-temp{
    font-weight: 700;
    font-size: 3.5rem;

}

.right-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    position: relative;
    height: 100%;
    padding-top: 25px;

}

.dia-info{
    padding: 25px 35px;
    display: flex;
    flex-direction: column;

}

.dia-info div:not(:last-child){
    margin-bottom: 6px;
}

.dia-info div .titulo{
    font-weight: 700;
}

.dia-info div .valor{
    float: right;
}

.dias{
    display: flex;
    list-style: none;
    margin: 10px 35px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 10px;

}

.dias li{
    padding: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: all 0.3s ease;

}

.dias li .bx{
    margin-bottom: 5px;
    font-size: 2rem;

}

.dias li:hover{
    transform: scale(1.1);
    background: #fff;
    color: #222831;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);

}

.dias li .dia-temp{
    margin-top: 6px;
    font-weight: 700;

}

.botao-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px 35px;
}

#txt-user {
    outline: none;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    color:#222831;
}
.local-botao{
    outline: none;
    width: 100%;
    border: none;
    font-weight: 700;
    border-radius: 25px;
    padding: 10px;
    background: #303f9f;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease;

}

.local-botao:hover{
    background: #1a237e;
}

@media (max-width: 768px){
   
    body{
        height:26vh;
        background-color: #232931;
        box-shadow:none;
        
    }
    .container {
        height:100%;
        border-radius: 0;
    }.left-info{
        width: 100%;
        height: 150%;
        border-radius: 0;
        box-shadow: none;
    }
    #txtuser{
      font-size: 16px;
      padding: 10px;
      width: 100%;
    }.img-gradiente{
        width: 100%;
        border-radius: 0;
    }
   
    
}
/* #232931 */